@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
  padding: 0; margin: 0; box-sizing: border-box;
}

:root {
  /* COLORS */
  --primaryBlue: #3E86F5;
  --white: #FFFFFF;
  --nearHellBlack: #031530;


  /* TEXT */
  --font: 'Poppins', sans-serif;

  --transition: all 250ms ease-in-out;
}

html { scroll-behavior: smooth;}
.header-section {
  transition: 0.4s;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.navlinks > h1 {
  position: relative;
}
.navlinks > h1:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navlinks > h1:hover:after { 
  width: 100%; 
  left: 0; 
}


.robo { background-color: #00000079; animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  /* background-color: rgb(0, 0, 0)!important ; */
  transition: 0.4s;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 11px 0;
  -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(white, 0.5);
}

/* .is-sticky::after {
  filter: blur(10px);
} */

body { font-family: var(--font); position: relative; color: var(--nearHellBlack); background: var(--white);}
.layout { max-width: 1920px; margin: 0 auto;}
.gen-wrapper { padding-right: 120px; padding-left: 120px;}


.nabvar { position: sticky; top: 0;}
.navlinks {  max-width: 750px; width: 100%; font-size: 14px;}
.navlinks h1:last-of-type {margin-left: auto; color: var(--primaryBlue); background:var(--white); border:1px solid #fff; padding: 13px 30px; border-radius: 10px; cursor: pointer;}
.navlinks h1:last-of-type:after { display: none !important;}



.logo-wrapper { width:500px;}
.hero { 
  /* background: url('/images/hero.jpg');  */
  background:linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.580838) 32.24%, rgba(0, 0, 0, 0.486293) 62.09%, rgba(0, 0, 0, 0) 98.06%), url('https://images.pexels.com/photos/300857/pexels-photo-300857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* height: 100vh;   */
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text { padding-top: 220px; padding-bottom: 427px}
.is-sticky ~ .hero-text {  margin-top: 50px}





















































@tailwind base;
@tailwind components;
@tailwind utilities;