@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  padding: 0; margin: 0; box-sizing: border-box;
}

:root {
  /* COLORS */
  --primaryBlue: #3E86F5;
  --white: #FFFFFF;
  --creamsonWhite:#F8F9FC;
  --nearHellBlack: #031530;
  --hollowGray: #929191;
  --locked-color: #5fadbf;
  --unlocked-color: #ff5153;

  /* TEXT */
  --font: 'Poppins', sans-serif;
  --transition: all 250ms ease-in-out;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .5em;
  background: #efefef;
  border: none;
  border-radius: 3px;
  padding: 1em 2em 1em 1em;
  font-size: 1em;
}
.select-container {position:relative; display: inline;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: .3em;
  right: .75em;
  border-top: 8px solid black;
  opacity: 0.5;
}
select::-ms-expand {
  display: none;
}
.primary-blue { background: #3E86F5;}
.white { color: #fff; }
.gen-btn { white-space: nowrap; }
.gen-btn:hover { background: #0866f3; }
.gen-btn:hover > img { animation: bounceright .3s alternate ease infinite; }

.dropIn {  animation: dropIn 0.7s alternate ease; animation-delay: 0.6s; }

html { scroll-behavior: smooth;}
.header-section { transition: 0.4s; animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;}


.robo { background-color: #00000079; animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;}
.is-sticky { position: fixed; top: 0; left: 0; right:0; width: 100%; z-index: 999; box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%); transition: 0.4s; animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; padding: 11px 0; 
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(white, 0.5);
}


body { font-family: var(--font); position: relative; color: var(--nearHellBlack); background: #fff;}
.layout { max-width: 1920px; margin: 0 auto;}
.gen-wrapper { padding-right: 120px; padding-left: 120px;}

/* NAV */

.nabvar { position: sticky; top: 0;}
.navlinks {  max-width: 750px; width: 100%; font-size: 14px;}
.navlinks h1:last-of-type {margin-left: auto; color: var(--primaryBlue); font-weight: 600; background:var(--white); border:1px solid #fff; padding: 10px 50px; border-radius: 10px; cursor: pointer;}
.navlinks h1:last-of-type:after { display: none !important;}


.navlinks > h1 { position: relative;}
.navlinks > h1:after { background: none repeat scroll 0 0 transparent; bottom: 0; content: ""; display: block; height: 2px; left: 50%; position: absolute; background: #fff; transition: width 0.3s ease 0s, left 0.3s ease 0s; width: 0;}
.navlinks > h1:hover:after { width: 100%;  left: 0; }

.is-sticky ~ .hero-text {  margin-top: 50px}

/* side nav */
.side-nav { background: #052961BF; z-index: 9999999; text-align: center; color: var(--white); 
  width: 100%; height: 100vh; padding: 57px 25px 0 25px; position: fixed; top:0; left:0;  -webkit-backdrop-filter: blur(20px); backdrop-filter: blur(20px);}
.side-nav-links > h1 { padding-bottom: 30px; font-size: 18px; }
.side-nav-links > h1:last-of-type { color: var(--primaryBlue);  background:var(--white); border:1px solid #fff; padding: 10px 50px; border-radius: 10px; cursor: pointer;}
.close-sidenav { padding-top: 100px;}


.hamburger .line {
  display: none !important;
  width: 40px;
  height: 1px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger .line:nth-of-type(2) { width: 29px; margin-right: 0;}
.hamburger:hover{ cursor: pointer;}
#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) { width: 0px;}
#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){ -webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s; transition-delay: 0.3s;}
#hamburger-6.is-active .line:nth-child(1){ -webkit-transform: translateY(13px); -ms-transform: translateY(13px); -o-transform: translateY(13px); transform: translateY(13px);}
#hamburger-6.is-active .line:nth-child(3){ -webkit-transform: translateY(-13px) rotate(90deg); -ms-transform: translateY(-13px) rotate(90deg); -o-transform: translateY(-13px) rotate(90deg); transform: translateY(-13px) rotate(90deg);}





.logo-wrapper { width:500px; }
.el-wrap { height: 40px; width: 40px; position: relative;}
.el-plane {position: absolute; top: 10px; left: 9px; max-width: 20px; margin: 0 auto; text-align: center;}
.el-logo { animation: rotation 8s infinite linear;}

.hero {  background:linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.580838) 32.24%, rgba(0, 0, 0, 0.486293) 62.09%, rgba(0, 0, 0, 0) 98.06%), url('https://images.pexels.com/photos/300857/pexels-photo-300857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-repeat: no-repeat; background-size: cover;}
.hero-text { padding-top: 220px; padding-bottom: 427px; }


.bp-title { color: var(--hollowGray); text-transform: uppercase; font-size: 16px; line-height: 28px; }
.bp-wrapper { margin: -70px auto 0 auto; max-width: 1200px; width: 100%; padding: 0 24px; box-shadow: 0px 134px 193px rgba(183, 183, 183, 0.07), 0px 16.7789px 24.1666px rgba(183, 183, 183, 0.035); border-radius: 16px; background: var(--white);
  display: flex; align-items: center; justify-content: space-between;
}
.bp-single-item { padding: 40px 0; }
.bp-single-item > select { max-width: 150px; -webkit-appearance: none;;}
.bp-single-item > input { width: 100%;   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* padding: .5em; */
  /* background: #efefef; */
  border: none;
  border-radius: 3px;
  /* padding: 1em 2em 1em 1em; */
  font-size: 1em;}

.sponsors { overflow: hidden; padding: 75px 0  172px 0;}
.marquee-content { animation: scrolling 100s linear infinite running }
.marquee-content:hover { animation-play-state: paused }
.sponsors > img { display: block; animation: scrolling 100s linear infinite;  width: 100%;}

.map-area { background: url('/images/map.png'); background-size: cover; background-position: bottom; background-repeat: no-repeat; text-align: center; padding-bottom: 100px; }
.map-area h1 { font-size: 44px; font-weight: 600; line-height: 54px; padding-bottom: 37px; color: #000; }
.map-area > div > h1 {padding-top: 60px;}
.map-area h1 .accent { color: var(--primaryBlue) }
.map-area p { font-size: 24px; font-weight: 400; line-height: 36px; color: var(--nearHellBlack); opacity: 0.5; }
.map-area img { margin: 64px auto -200px auto;}


/* Sliders */
.slides-overlay { position: absolute; top: 0; left:0; background: rgba(0, 0, 0, 0.296); width: 100%; height: 100%;}
.slides-overlay > div > h1 { font-size: 72px; line-height: 108px; color: var(--white); font-weight: 600; padding-top: 200px;}
.slides-overlay > div > h2 { font-size: 24px; line-height: 32px; max-width: 500px; color: var(--white);  }
.slides-overlay .btn-class { max-width: 200px; margin-top: 100px;}



.resort-grid { display: grid; max-width: 1000px; gap: 32px; grid-template-columns: repeat(2, 1fr); margin: 85px 0 138px auto; position: relative;}
.resort-header { position: absolute; font-size: 44px; font-weight: 600; line-height: 54px; padding-bottom: 37px; }
.resort-grid > div:nth-of-type(1) { margin-top: 200px;}
.resort-grid > div:nth-of-type(4) { margin-top: -200px;}
.card-r { position: relative; max-width: 480px;}
.card-r > img { width: 100%;}
.card-r:hover > .card-overlay { display: block;}



.card-overlay { display: none; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.563442) 60.97%, rgba(0, 0, 0, 0.65) 100%);  padding:0 20px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px;}
.card-overlay-rel { position: relative;}
.card-overlay-rel > div { position: absolute; width: 100%; right: 50%; transform: translate(50%, 250%);}

.card-overlay > div > div > h1 { font-size: 28px; font-weight: 600; color: var(--white); }
.card-overlay > div > div > h2 { font-size: 18px; font-weight: 500; color: var(--white); margin: 16px 0 28px 0;}
.btn-class { background: var(--primaryBlue); color: var(--creamsonWhite); width: 100%; padding: 20px 0; font-size: 16px; font-weight: 600; border-radius: 10px;}

.passes-container { background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/passes.jpg'); background-repeat: no-repeat; background-size: cover; color: var(--white)}
.passes-wrapper > h1 { font-size: 72px; line-height: 108px; color: var(--white); font-weight: 600;}
.passes-wrapper { padding: 152px 120px 0 0;}
.passes-wrapper > div { padding: 71px 0 252px 0;}


.footer-links > h1 { color: var(--primaryBlue); font-size: 14px; text-transform: uppercase; margin-bottom: 40px;}
.footer-links > p > a { font-size: 14px; line-height:36px; text-decoration: none; color: var(--nearHellBlack); }
.footer-links > p > a { position: relative;}
.footer-links > p > a:after { background: none repeat scroll 0 0 transparent; bottom: 0; content: ""; display: block; height: 2px; left: 50%; position: absolute; background: rgb(27, 73, 240); transition: width 0.3s ease 0s, left 0.3s ease 0s; width: 0;}
.footer-links > p > a:hover:after {  width: 100%;  left: 0; }


/* footer */
.gridicon { display: grid; grid-template-columns: repeat(6, 1fr); }
.gridicon > div:nth-of-type(1) { width: 100%; grid-column: span 3 / span 6;}
.footer-align > div:nth-of-type(2) > span { cursor: pointer; }
.footer-align { padding-top: 87px; padding-bottom: 64px;}
.links-container { display: grid; grid-template-columns: repeat(3, 1fr); grid-column: span 3 / span 6;}
.legal { display: grid; grid-template-columns: repeat(6, 1fr); padding-top: 116px;}
.legal > div:nth-of-type(1) { width: 100%; grid-column: span 3 / span 6; font-size: 16px; opacity: 0.7; }
.legal > div:nth-of-type(2) { grid-column: span 1 / span 6; font-size: 12px; opacity: 0.7}
.legal > div:nth-of-type(3) { grid-column: span 1 / span 6; font-size: 12px; opacity: 0.7}
.br-2 { display: none !important; } 
.br-1 { display: block !important; }






/* input form */


.form-group-wrapper {  display: flex; align-items: center; justify-content: center; min-height: 100vh;}
.form-group { max-width: 450px; margin: 0 10px;  width: 100%; box-shadow: 0px 0px 10px rgba(0,0,0,0.1); border-radius: 8px; background: var(--white);}
.form-logo { background: linear-gradient(to right, #141e30, #243b55); margin-bottom: 40px; padding: 14px 0; border-top-left-radius: 8px; border-top-right-radius: 8px; text-align: center; }
.form-logo .logo-wrapper { width: 100% !important;}
.btn-class-form { background: var(--primaryBlue); color: var(--creamsonWhite); width: 100%; padding: 8px 0; font-size: 16px; border-radius: 7px; margin-bottom: 10px;}
.ready-span { font-size: 14px; font-weight: 400; float: right; margin-top: 12px;}
.ready-span  span { color: var(--primaryBlue); text-decoration: underline; cursor: pointer;}
.form-group > form { max-width: 400px;  padding:0 10px 50px 10px; margin: 0 auto;}

.new-btn { background: #302b63 !important; color: #fff !important; position: relative; overflow: hidden; transition: 0.4s;}
.new-btn:after{ content: ''; position: absolute; top: -50%; right: -50%; bottom: -50%; left: -100%; background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0)); transform: rotateZ(60deg) translate(-5em, 7.5em);}
.new-btn:hover::after, button:focus::after { animation: new-btn 1s forwards;}
@keyframes new-btn { 100% { transform: rotateZ(60deg) translate(1em, -9em); left: 100%; }}

.wrapper{ background: #fff; padding: 10px 0 30px 0; width: 100%;}
.wrapper .input-data{ width: 100%; position: relative;}
.wrapper .input-data input{ height: 100%; width: 100%; border: none; outline: none; font-size: 16px; border-bottom: 1px solid #e1e1e1;}
.input-data input:focus ~ label,
.input-data input:valid ~ label{ transform: translateY(-20px); font-size: 13px; color: #4158d0; opacity: 0.5;}
.wrapper .input-data label{
  position: absolute;
  bottom: 5px;
  left: 0;
  font-size: 14px;
  color: rgb(165, 164, 164);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data .underline{ position: absolute; height: 2px; width: 100%; bottom: 0;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  { -webkit-box-shadow: 0 0 0 30px white inset !important;}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: var(--primaryBlue);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{ transform: scaleX(1); }


/* OTP */
.otp-wrapper {  background: #ffffff; width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; margin: 0 20px;}
.otp-container { max-width: 450px; width: 100%; border-radius: 6px; text-align: center; padding: 20px 20px 0 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.232); margin: 0 30px; }
.otp-input { border: 1px solid #535353d8; height: 50px; width: 42px; font-size: 20px; text-align: center; border-radius: 4px; transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;}
.otp-input:focus { background: rgba(170, 233, 225, 0.32); border-color: #EBEDF3; transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;}

.otp-input::-webkit-outer-spin-button, .otp-input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
form .otp-form > div { margin:0 auto; width: 100%; text-align: center;}
.otp-form { display: flex; width: 100%; margin: 0 auto; max-width: 400px; margin: 0 auto; }
.resend-otp > p { margin-top: 30px; font-size: 13px; font-style: italic;} 
.resend-otp > div { text-decoration: underline; margin-bottom: 30px; cursor: pointer; transition: 0.4s; color: inherit;} 
.resend-otp > div:hover { transition: 0.4s; color: #307ae8; letter-spacing: 2px;} 
.otp-button { width: 100%; max-width: 400px; transition: 0.4s; padding: 12px 0;  color:var(--white); margin-bottom: 40px; border-radius: 8px;}
.otp-button-ok:hover { background: var(--primaryBlue) !important;  transition: 0.4s;}

.otp-button:disabled { cursor: not-allowed;}
.otp-button-ok { background: #00409f !important; }
.otp-button-disabled { background: #dbdcdc !important; color: #243b55 !important;}














form {	background-color: #FFFFFF;	display: flex;align-items: center;	justify-content: center;	flex-direction: column;	padding: 0 25px;	height: 100%;}
.auth-page-wrapper { display: flex; align-items: center; justify-content: center; width: 100%; min-height: 100vh;}

.containerr {
	background-color: #fff;
	border-radius: 6px;
  box-shadow: 0px 3px 10px #00000029;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 900px;
	min-height: 480px;
  margin: 0 15px;
}

.form-containerr {	position: absolute;	top: 0;	height: 100%;	transition: all 0.6s ease-in-out;}
.form-containerr  h1 { font-size: 18px; text-align: center; margin-bottom: 20px;}
.sign-in-containerr {	left: 0;	width: 50%;	z-index: 2;}
/* .containerr.right-panel-active .sign-in-containerr {	transform: translateX(100%);} */
.sign-up-containerr {	left: 0;	width: 50%;	opacity: 0;	z-index: 1;}
.containerr.right-panel-active .sign-up-containerr {	transform: translateX(100%);	opacity: 1;	z-index: 5;	animation: show 0.6s;}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-containerr {	position: absolute;	top: 0;left: 50%;	width: 50%;	height: 100%;	overflow: hidden;	transition: transform 0.6s ease-in-out;	z-index: 100; border:3px solid red}
.containerr.right-panel-active .overlay-containerr{	transform: translateX(-100%);}

.overlay {	
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
  animation: gradient 15s ease infinite
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.containerr.right-panel-active .overlay {	transform: translateX(50%);}
.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel > h1 { font-family: 'Lobster', cursive; font-size: 18px;}
.overlay-panel > p { font-family: 'Lobster', cursive; font-size: 18px; }
.overlay-panel > button { border:2px solid #fff; padding: 4px 20px; margin-top: 12px; border-radius: 30px; transition: 0.3s; }
.overlay-panel > button:hover {background: #fff; color: #292E49; transition: 0.3s; }

/* .overlay-left {	transform: translateX(-20%);} */
.containerr.right-panel-active .overlay-left {	transform: translateX(0);}
.overlay-right {	right: 0;	transform: translateX(0);}
.containerr.right-panel-active .overlay-right {	transform: translateX(20%);}



/* dashboard */
.dash-area { display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #302b63; margin: 0 60px;}
.circle-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
}

.icon {
  position: absolute;
  top: 32px;
  left: 31px;
  transform: translate(-50%, -50%);
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 10s linear infinite;
}

.circle-wrapper:active .circle {
  animation: spin 2s linear infinite;
}

.success {
  background-color: #302b63;
  border: 2.5px dashed #302b63;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 0, 0);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}

input:checked + .slider {
  background-color:rgb(14, 245, 72);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--colornav);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.panel-dropdown { border:1px solid #000; padding: 12px 0px; border-radius: 8px; }
.panel-dropdown div:nth-of-type(1) { }
.panel-dropdown .verify-2fa-group  { font-family: 'Lobster', cursive; font-size: 18px; border-bottom: 1px solid rgb(2, 3, 36); padding: 0 12px 6px 12px;}
.verify-2fa-group .switch-toggle { display: flex; align-items: center; justify-content: space-between; }

.logout {margin: 10px auto 0 auto; background:#24243e; transition: 0.4s; display: flex; align-items: center; justify-content: center; padding: 4px 12px; max-width: 130px; border-radius: 4px; color:#fff; column-gap: 8px; cursor: pointer;  font-family: 'Lobster', cursive; font-size: 18px;}
.logout:hover { background: #000; transition: 0.4s;}




















@-webkit-keyframes rotation { from { transform: rotate(0deg); } to { transform: rotate(359deg);  }}
@-webkit-keyframes scrolling { 0% { transform: translateX(0); } 50% { transform: translatex(-100%); } 100% { transform: translatex(0); }}
@-webkit-keyframes bounceright {	from { -webkit-transform: translateX(0); }	to   { -webkit-transform: translateX(3px); }}
@-webkit-keyframes dropIn {	0% { -webkit-transform: translateY(-100vh); }	100%   { -webkit-transform: translateY(0); }}


/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .bp-wrapper { display: grid; grid-template-columns: repeat(2, 1fr);  padding: 0 24px 24px 24px;}
  .bp-single-item { padding: 20px 0; }
  .gen-btn {  grid-column: span 2 / span 2; justify-content: center; margin-top: 30px;}
  .bp-single-item > select {  width: 100%;  }
  .map-area h1 { font-size: 34px; line-height: 44px; padding-bottom: 27px;}
  .resort-header { font-size: 34px; line-height: 44px; padding-bottom: 27px; }
  .passes-wrapper > h1 { font-size: 52px; line-height: 88px; }
  .card-overlay-rel > div { transform: translate(50%, 150%);}
}

@media screen and (max-width: 1024px) {
  .gen-wrapper { padding-right: 25px; padding-left: 25px;}
  .logo-wrapper { width:400px; }
  .sponsors { overflow: hidden; padding: 75px 0  142px 0;}
  .map-area img { margin: 1px auto -132px auto;}
  
}



@media screen and (max-width: 991px) {
  .slides-overlay > div > h1 { font-size: 52px; line-height: 88px;  padding-top: 100px;}
.slides-overlay > div > h2 { font-size: 20px; line-height: 32px; max-width: 500px;  }
.slides-overlay .btn-class { margin-top: 50px;}
}

@media screen and (max-width: 767px) {
  
  .logo-wrapper { width:350px; }
  .hero-text { padding-top: 129px; padding-bottom: 280px; }
  .map-area h1 { font-size: 24px; line-height: 30px; padding-bottom: 16px;}
  .resort-header { font-size: 24px; line-height: 30px; padding-bottom: 16px; }
  .btn-class { padding: 12px 0; font-size: 14px; border-radius: 6px; }
  .slides-overlay .btn-class { margin-top: 30px; max-width: 150px;}

  .map-area p { font-size: 14px;line-height: 26px;  }
  .br-3 { display: none !important; }
  .sponsors { overflow: hidden; padding: 65px 0  90px 0;}
  .map-area img { height: 150px;}
  .card-overlay { display: block; } 
  .resort-grid { gap:7px; }
  .passes-wrapper > h1 { font-size: 32px; line-height: 40px; }
  .passes-wrapper { padding: 82px 0px 0 0;}
  .passes-wrapper > div { padding: 13px 0 161px 0;}
  .slides-overlay > div > h1 {  padding-top: 50px;}


  .footer-links > h1  { margin-bottom: 20px;}
  .gridicon { display: grid; grid-template-columns: repeat(3, 1fr); }
  .links-container { margin: 72px 0;}
  .legal { padding-top: 30px;}
}

@media screen and (max-width: 700px) {
  .logo-wrapper { width: 100%; }
  .hamburger .line { display: block !important;}
  .card-overlay { padding: 0 10px;}
  .card-overlay > div > div > h1 { font-size: 24px;}
  .card-overlay-rel > div { transform: translate(50%, 80%);}
}


@media screen and (max-width: 600px) {
  .bp-wrapper { grid-template-columns: 1fr; padding: 30px 24px 24px 24px; margin: -170px auto 0 auto;}
  .bp-single-item { padding: 20px 0; }
  .gen-btn {  grid-column: span 1 / span 1; }
  .bp-single-item > select {max-width: 100%; width: 100%;}
  .bp-single-item > input {max-width: 100%; width: 100%;}
  .resort-grid { display: grid; gap:0; row-gap: 12px; grid-template-columns: 1fr; }
  .card-overlay-rel > div { transform: translate(50%, 180%);}
  .br-chill { display: none;}
  .card-r { max-width: 100%;}

  .resort-grid > div:nth-of-type(1) { margin-top: 100px;}
  .slides-overlay > div > h1 { font-size: 32px; line-height: 48px;  padding-top: 50px; white-space: nowrap;}
  .slides-overlay > div > h2 { font-size:14px; line-height: 24px; max-width: 400px;  }
}

@media screen and (max-width: 560px) {
  /* .containerr.right-panel-active .sign-in-containerr {	transform: translateY(100%);} */

/* .sign-up-containerr {	left: 0;	width: 50%;	opacity: 0;	z-index: 1;} */
/* .containerr.right-panel-active .sign-up-containerr {	transform: translateY(100%);	opacity: 1;	z-index: 5;	animation: show 0.6s;} */

/* .containerr.right-panel-active .overlay-containerr{	transform: translateY(-100%);} */
/* .overlay-containerr {    left: 100%; width: 100%; height: 37%;} */
/* .containerr { height: 100%;} */

  /* .containerr.right-panel-active .sign-up-containerr {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    -webkit-animation: show 0.6s;
    animation: show 0.6s;
}
.containerr.right-panel-active .sign-up-containerr {
  transform: translateY(40%);
}
form { height: 57%;}
.sign-in-containerr { width: 100%;}
.overlay-right { border: 1px solid red;}

.sign-up-containerr {
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
}
.overlay-right {
  right: auto;}
  .containerr.right-panel-active .overlay-right {
    transform: translateY(20%);
} */

.overlay-containerr {	position: absolute;	height: 50%; top: 0;	height: 100%;	overflow: hidden;		z-index: 100; border:3px solid red;     left: 100%;
  width: 100%;}


.overlay { display: flex; flex-direction: column; align-items: center; height: 50%;}
.overlay-panel { position: relative; width: 100%;}
.containerr.right-panel-active .overlay-right { transform: translateY(20%);}
.containerr.right-panel-active .overlay {
  transform: translateY(100%);
}
}


@media screen and (max-width: 450px) {
  .sponsors { overflow: hidden; padding: 45px 0  50px 0;}
  .map-area img { height: 100px;}
  .resort-grid > div:nth-of-type(4) { margin-top: 0;}
  .passes-wrapper > h1 { font-size: 24px;  }
  .br-passes { display: none;}
  .passes-wrapper { padding: 76px 0px 0 0;}
  .passes-wrapper > div { padding: 50px 0 121px 0;}
  .links-container { grid-template-columns: repeat(2, 1fr); row-gap: 72px;}
  .legal { grid-template-columns: 1fr;}
  .legal > div:nth-of-type(1) { font-size: 14px; margin-bottom: 12px; text-align: center;}
  .legal > div:nth-of-type(2) { font-size: 10px; }
  .legal > div:nth-of-type(3) { font-size: 10px; }
  .footer-align { padding-top: 60px; padding-bottom: 34px;}
  .form-group { margin-top: -70px;}
  .otp-container { box-shadow: -2px 1px 11px 7px rgb(0 0 0 / 3%);}
}

@media screen and (max-width: 400px) {
  .map-area h1 { font-size: 22px; line-height: 28px;}
  .resort-header { font-size: 22px; line-height: 28px; }
  .card-overlay-rel > div { transform: translate(50%, 150%);}
  .otp-container { max-width: 365px;  }
}





.container-lock { display: flex; align-items: center; justify-content: center; height: 90px; width: 90px; border-radius: 50%; background: #000; margin: 50px auto 40px auto;
   background-color: #fa212151;
  
}

.otp-null { animation: 2s pulse-anim-null infinite; }
.otp-null:hover {  cursor: crosshair;
  animation: 200ms pulse-anim infinite;
}
.otp-success { background: #72f27277 !important; animation: 2s pulse-anim-success ;}

@keyframes pulse-anim { 0% { box-shadow: #e8b7b7 0 0 0 0; } 100% { box-shadow: #fa212100 0 0 0 50px; }}
@keyframes pulse-anim-null { 0% { box-shadow: #e8b7b7 0 0 0 0; } 100% { box-shadow: #fa212100 0 0 0 50px; }}
@keyframes pulse-anim-success { 0% { box-shadow: #bae8b7 0 0 0 0; } 100% { box-shadow: #28fa2100 0 0 0 50px; }}


.lock-shake {
  animation: shake 150ms 2 linear;
  -moz-animation: shake 150ms 2 linear;
  -webkit-animation: shake 150ms 2 linear;
  -o-animation: shake 150ms 2 linear;
}
.lock { width: 24px; height: 21px; border: 3px solid var(--unlocked-color); border-radius: 5px; position: relative; cursor: pointer; -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;}
.lock:after { content: ""; display: block; background: var(--unlocked-color); width: 3px; height: 7px; position: absolute; top: 50%; left: 50%; margin: -3.5px 0 0 -2px; -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;}
.lock:before {
  content: "";
  display: block;
  width: 15px;
  height: 10px;
  bottom: 100%;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  border: 3px solid var(--unlocked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* Locked Hover */
.lock:hover:before {
  height: 12px;
}
/* Unlocked */
.unlocked { transform: rotate(10deg);}
.unlocked:before { bottom: 130%; left: 31%; margin-left: -11.5px; transform: rotate(-45deg);}
.unlocked,
.unlocked:before { border-color: var(--locked-color);}
.unlocked:after { background: var(--locked-color);}
.unlocked:hover { transform: rotate(3deg);}
.unlocked:hover:before {height: 10px; left: 40%; bottom: 124%; transform: rotate(-30deg);}



@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(3px, 0);
  }
  50% {
    -moz-transform: translate(-3px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0);
  }
  50% {
    -webkit-transform: translate(-3px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-ms-keyframes shake {
  0% {
    -ms-transform: translate(3px, 0);
  }
  50% {
    -ms-transform: translate(-3px, 0);
  }
  100% {
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes shake {
  0% {
    -o-transform: translate(3px, 0);
  }
  50% {
    -o-transform: translate(-3px, 0);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}































.swiper { width: 100%; height: 100%;}
.swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover;}
.swiper-container-horizontal>.swiper-pagination-progressbar { width: 20%; height: 4px;left: 48%;top: 95%; background-color: rgba(232, 227, 227, 0.2);}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {  width: 100%;  background-color: #f06a44;}
.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite { background: grey;}
.swiper-pagination-progressbar-fill  { background: linear-gradient(to right, #000, #00d4ff) !important;}
.text { background: #00000067; }

@tailwind base;
@tailwind components;
@tailwind utilities;